.all-users-page-wrapper {
	display: grid;
	width: 100%;
	max-width: 100%;
	height: min-content;
	padding: 20px;
}

.user-list-item {
	color:teal;
	font-weight: bold;
  font-size: 1.2rem;
	margin: 10px;
}

.url-all-users {
	position: fixed;
	justify-self: flex-end;
	right: 8px;
	bottom: 20px;
}